version: 2.1

jobs:
  release:
    working_directory: /go/src/github.com/vidsy/terraform-linter
    docker:
      - image: vidsyhq/go-builder:latest
    steps:
      - checkout
      - run: apk update && apk add ca-certificates make
      - restore_cache:
          <<: &binary-cache-key
      - run: make release -e VIDSY_GOBOT_GITHUB_TOKEN=${VIDSY_GOBOT_GITHUB_TOKEN}

orbs:
  common: vidsy/common@volatile
  go: vidsy/go@volatile
  services: vidsy/services@volatile

ignore-master: &ignore-master
  filters:
    branches:
      ignore: master

require-build: &require-build
  requires:
    - go/install-and-build-binary

tagged-build: &tagged-build
  tags:
    only: /[0-9]+\.[0-9]+\.[0-9]+/

binary-cache-key: &binary-cache-key
  key: binary-cache-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ .Revision }}

vendor-cache-key: &vendor-cache-key
  vendor-cache-key: vendor-cache-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ checksum "Gopkg.lock" }}-v1

working-directory: &working-directory
  working-directory: /go/src/github.com/vidsy/terraform-linter

workflows:
  build-test-deploy:
    jobs:
      - common/check-for-clubhouse-ticket-comment:
          context: org-github-docker-hub
          <<: *ignore-master
      - common/check-version:
          <<: *ignore-master
      - go/install-and-build-binary:
          binary-name: terraform-linter
          filters:
            <<: *tagged-build
          <<: *vendor-cache-key
          <<: *vendor-cache-key
          <<: *working-directory
      - release:
          context: org-go-services
          filters:
            <<: *tagged-build
            branches:
              ignore: /.*/
          requires:
            - go/install-and-build-binary
            - go/test
            - go/vet
            - common/check-version
      - go/test:
          filters:
            <<: *tagged-build
          <<: *require-build
          <<: *vendor-cache-key
          <<: *working-directory
      - go/vet:
          <<: *ignore-master
          <<: *require-build
          <<: *vendor-cache-key
          <<: *working-directory
