version: 2.1

vendor-cache-key: &vendor-cache-key vendor-cache-{{ .Environment.CIRCLE_PROJECT_REPONAME }}-{{ checksum "Gopkg.lock" }}-v1

vendor-cache-key-parameter: &vendor-cache-key-parameter
  vendor-cache-key: *vendor-cache-key

working-directory: &working-directory
  working-directory: /go/src/github.com/vidsy/terraform-linter

executors:
  build-path-builder:
    docker:
      - image: vidsyhq/go-builder:latest
    environment:
        BUILD_PATH: github.com/vidsy/terraform-linter/cmd/terraform/linter
jobs:
  release:
    working_directory: /go/src/github.com/vidsy/terraform-linter
    docker:
      - image: vidsyhq/go-builder:latest
    steps:
      - checkout
      - run: apk update && apk add ca-certificates make
      - restore_cache:
          key: *vendor-cache-key
      - run: make release -e VIDSY_GOBOT_GITHUB_TOKEN=${VIDSY_GOBOT_GITHUB_TOKEN}

orbs:
  common: vidsy/common@volatile
  go: vidsy/go@volatile
  services: vidsy/services@volatile

ignore-master: &ignore-master
  filters:
    branches:
      ignore: master

require-build: &require-build
  requires:
    - go/install-and-build-binary

tagged-build: &tagged-build
  tags:
    only: /[0-9]+\.[0-9]+\.[0-9]+/

workflows:
  build-test-deploy:
    jobs:
      - common/check-for-clubhouse-ticket-comment:
          context: org-github-docker-hub
          <<: *ignore-master
      - go/build-docker-container:
          <<: *ignore-master
          <<: *require-build
          <<: *working-directory
      - go/deploy:
          context: org-aws-ecr
          filters:
            branches:
              ignore: /.*/
            <<: *tagged-build
          requires:
            - go/test
          <<: *working-directory
          deploy-to-ecr: false
      - common/check-version:
          <<: *ignore-master
      - go/install-and-build-binary:
          binary-name: linter
          executor: build-path-builder
          filters:
            <<: *tagged-build
          <<: *vendor-cache-key-parameter
          <<: *working-directory
      - release:
          context: org-go-services
          filters:
            <<: *tagged-build
            branches:
              ignore: /.*/
          requires:
            - go/install-and-build-binary
            - go/test
            - go/vet
            - common/check-version
      - go/test:
          filters:
            <<: *tagged-build
          <<: *require-build
          <<: *vendor-cache-key-parameter
          <<: *working-directory
      - go/vet:
          <<: *ignore-master
          <<: *require-build
          <<: *vendor-cache-key-parameter
          <<: *working-directory
